.card {
  display: flex;
  position: relative;
  top: 25px; 
  right: 20px; 
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 30px 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding: 30px 8px; 
  width: 850px;
  margin: 100px auto;
  height: 150px;
  margin-top: 40px; 

}

.card{
  display: flex;
  flex-wrap: wrap;

}
.card{
    flex-basis: 200px;
	flex-grow: 1;
	margin: 10px;
}

.card h1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px; 
  position: relative;
  top: -50px; 
  word-spacing: 5px;  

}

