.container {
	width: 100%; 
	margin: 5px auto; 
}

/* Responsive design*/ 

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 350px;
  }
}


